<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hpe.ddc.framework.dao.TCompanyDAO" >
  <resultMap id="BaseResultMap" type="com.hpe.ddc.framework.model.TCompany" >
    <id column="COMPANY_ID" property="companyId" jdbcType="BIGINT" />
    <result column="MCH_TYPE" property="mchType" jdbcType="CHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="BIGINT" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="CONTACT" property="contact" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="WECHAT_ACCOUNT_ID" property="wechatAccountId" jdbcType="VARCHAR" />
    <result column="ALI_PAY_ID" property="aliPayId" jdbcType="VARCHAR" />
    <result column="START_DATE" property="startDate" jdbcType="TIMESTAMP" />
    <result column="END_DATE" property="endDate" jdbcType="TIMESTAMP" />
    <result column="NOTES" property="notes" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    COMPANY_ID, MCH_TYPE, PARENT_ID, NAME, ADDRESS, CONTACT, PHONE, EMAIL, WECHAT_ACCOUNT_ID, 
    ALI_PAY_ID, START_DATE, END_DATE, NOTES, CREATE_DATE, UPDATE_DATE
  </sql>
  <select id="selectByCriteria" resultMap="BaseResultMap" parameterType="com.hpe.ddc.framework.model.TCompanyCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_company
    where COMPANY_ID = #{companyId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_company
    where COMPANY_ID = #{companyId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.hpe.ddc.framework.model.TCompanyCriteria" >
    delete from t_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hpe.ddc.framework.model.TCompany" >
    <selectKey resultType="java.lang.Long" keyProperty="companyId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_company (MCH_TYPE, PARENT_ID, NAME, 
      ADDRESS, CONTACT, PHONE, 
      EMAIL, WECHAT_ACCOUNT_ID, ALI_PAY_ID, 
      START_DATE, END_DATE, NOTES, 
      CREATE_DATE, UPDATE_DATE)
    values (#{mchType,jdbcType=CHAR}, #{parentId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{wechatAccountId,jdbcType=VARCHAR}, #{aliPayId,jdbcType=VARCHAR}, 
      #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, #{notes,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hpe.ddc.framework.model.TCompany" >
    <selectKey resultType="java.lang.Long" keyProperty="companyId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mchType != null" >
        MCH_TYPE,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="contact != null" >
        CONTACT,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="wechatAccountId != null" >
        WECHAT_ACCOUNT_ID,
      </if>
      <if test="aliPayId != null" >
        ALI_PAY_ID,
      </if>
      <if test="startDate != null" >
        START_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="notes != null" >
        NOTES,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mchType != null" >
        #{mchType,jdbcType=CHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="wechatAccountId != null" >
        #{wechatAccountId,jdbcType=VARCHAR},
      </if>
      <if test="aliPayId != null" >
        #{aliPayId,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByCriteria" parameterType="com.hpe.ddc.framework.model.TCompanyCriteria" resultType="java.lang.Integer" >
    select count(*) from t_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByCriteriaSelective" parameterType="map" >
    update t_company
    <set >
      <if test="record.companyId != null" >
        COMPANY_ID = #{record.companyId,jdbcType=BIGINT},
      </if>
      <if test="record.mchType != null" >
        MCH_TYPE = #{record.mchType,jdbcType=CHAR},
      </if>
      <if test="record.parentId != null" >
        PARENT_ID = #{record.parentId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.contact != null" >
        CONTACT = #{record.contact,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.wechatAccountId != null" >
        WECHAT_ACCOUNT_ID = #{record.wechatAccountId,jdbcType=VARCHAR},
      </if>
      <if test="record.aliPayId != null" >
        ALI_PAY_ID = #{record.aliPayId,jdbcType=VARCHAR},
      </if>
      <if test="record.startDate != null" >
        START_DATE = #{record.startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endDate != null" >
        END_DATE = #{record.endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.notes != null" >
        NOTES = #{record.notes,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null" >
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByCriteria" parameterType="map" >
    update t_company
    set COMPANY_ID = #{record.companyId,jdbcType=BIGINT},
      MCH_TYPE = #{record.mchType,jdbcType=CHAR},
      PARENT_ID = #{record.parentId,jdbcType=BIGINT},
      NAME = #{record.name,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      CONTACT = #{record.contact,jdbcType=VARCHAR},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      WECHAT_ACCOUNT_ID = #{record.wechatAccountId,jdbcType=VARCHAR},
      ALI_PAY_ID = #{record.aliPayId,jdbcType=VARCHAR},
      START_DATE = #{record.startDate,jdbcType=TIMESTAMP},
      END_DATE = #{record.endDate,jdbcType=TIMESTAMP},
      NOTES = #{record.notes,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hpe.ddc.framework.model.TCompany" >
    update t_company
    <set >
      <if test="mchType != null" >
        MCH_TYPE = #{mchType,jdbcType=CHAR},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        CONTACT = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="wechatAccountId != null" >
        WECHAT_ACCOUNT_ID = #{wechatAccountId,jdbcType=VARCHAR},
      </if>
      <if test="aliPayId != null" >
        ALI_PAY_ID = #{aliPayId,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        START_DATE = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="notes != null" >
        NOTES = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where COMPANY_ID = #{companyId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hpe.ddc.framework.model.TCompany" >
    update t_company
    set MCH_TYPE = #{mchType,jdbcType=CHAR},
      PARENT_ID = #{parentId,jdbcType=BIGINT},
      NAME = #{name,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      CONTACT = #{contact,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      WECHAT_ACCOUNT_ID = #{wechatAccountId,jdbcType=VARCHAR},
      ALI_PAY_ID = #{aliPayId,jdbcType=VARCHAR},
      START_DATE = #{startDate,jdbcType=TIMESTAMP},
      END_DATE = #{endDate,jdbcType=TIMESTAMP},
      NOTES = #{notes,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
    where COMPANY_ID = #{companyId,jdbcType=BIGINT}
  </update>
</mapper>