<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hpe.ddc.framework.dao.TPictureDAO" >
  <resultMap id="BaseResultMap" type="com.hpe.ddc.framework.model.TPicture" >
    <id column="PICTURE_ID" property="pictureId" jdbcType="BIGINT" />
    <result column="OPEN_ID" property="openId" jdbcType="VARCHAR" />
    <result column="COMPANY_ID" property="companyId" jdbcType="BIGINT" />
    <result column="PICTURE_URL" property="pictureUrl" jdbcType="VARCHAR" />
    <result column="MEDIA_ID" property="mediaId" jdbcType="VARCHAR" />
    <result column="PAGE_COUNT" property="pageCount" jdbcType="INTEGER" />
    <result column="ACCOUNT_ID" property="accountId" jdbcType="VARCHAR" />
    <result column="CONTENT_TYPE" property="contentType" jdbcType="VARCHAR" />
    <result column="USED_FLAG" property="usedFlag" jdbcType="CHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hpe.ddc.framework.model.TPicture" extends="BaseResultMap" >
    <result column="PICTURE_CONTENT" property="pictureContent" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PICTURE_ID, OPEN_ID, COMPANY_ID, PICTURE_URL, MEDIA_ID, PAGE_COUNT, ACCOUNT_ID, CONTENT_TYPE, 
    USED_FLAG, CREATE_DATE, UPDATE_DATE
  </sql>
  <sql id="Blob_Column_List" >
    PICTURE_CONTENT
  </sql>
  <select id="selectByCriteriaWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.hpe.ddc.framework.model.TPictureCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_picture
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByCriteria" resultMap="BaseResultMap" parameterType="com.hpe.ddc.framework.model.TPictureCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_picture
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_picture
    where PICTURE_ID = #{pictureId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_picture
    where PICTURE_ID = #{pictureId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.hpe.ddc.framework.model.TPictureCriteria" >
    delete from t_picture
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hpe.ddc.framework.model.TPicture" >
    <selectKey resultType="java.lang.Long" keyProperty="pictureId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_picture (OPEN_ID, COMPANY_ID, PICTURE_URL, 
      MEDIA_ID, PAGE_COUNT, ACCOUNT_ID, 
      CONTENT_TYPE, USED_FLAG, CREATE_DATE, 
      UPDATE_DATE, PICTURE_CONTENT)
    values (#{openId,jdbcType=VARCHAR}, #{companyId,jdbcType=BIGINT}, #{pictureUrl,jdbcType=VARCHAR}, 
      #{mediaId,jdbcType=VARCHAR}, #{pageCount,jdbcType=INTEGER}, #{accountId,jdbcType=VARCHAR}, 
      #{contentType,jdbcType=VARCHAR}, #{usedFlag,jdbcType=CHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{pictureContent,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.hpe.ddc.framework.model.TPicture" >
    <selectKey resultType="java.lang.Long" keyProperty="pictureId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_picture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="openId != null" >
        OPEN_ID,
      </if>
      <if test="companyId != null" >
        COMPANY_ID,
      </if>
      <if test="pictureUrl != null" >
        PICTURE_URL,
      </if>
      <if test="mediaId != null" >
        MEDIA_ID,
      </if>
      <if test="pageCount != null" >
        PAGE_COUNT,
      </if>
      <if test="accountId != null" >
        ACCOUNT_ID,
      </if>
      <if test="contentType != null" >
        CONTENT_TYPE,
      </if>
      <if test="usedFlag != null" >
        USED_FLAG,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="pictureContent != null" >
        PICTURE_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="pictureUrl != null" >
        #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="mediaId != null" >
        #{mediaId,jdbcType=VARCHAR},
      </if>
      <if test="pageCount != null" >
        #{pageCount,jdbcType=INTEGER},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="contentType != null" >
        #{contentType,jdbcType=VARCHAR},
      </if>
      <if test="usedFlag != null" >
        #{usedFlag,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="pictureContent != null" >
        #{pictureContent,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByCriteria" parameterType="com.hpe.ddc.framework.model.TPictureCriteria" resultType="java.lang.Integer" >
    select count(*) from t_picture
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByCriteriaSelective" parameterType="map" >
    update t_picture
    <set >
      <if test="record.pictureId != null" >
        PICTURE_ID = #{record.pictureId,jdbcType=BIGINT},
      </if>
      <if test="record.openId != null" >
        OPEN_ID = #{record.openId,jdbcType=VARCHAR},
      </if>
      <if test="record.companyId != null" >
        COMPANY_ID = #{record.companyId,jdbcType=BIGINT},
      </if>
      <if test="record.pictureUrl != null" >
        PICTURE_URL = #{record.pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.mediaId != null" >
        MEDIA_ID = #{record.mediaId,jdbcType=VARCHAR},
      </if>
      <if test="record.pageCount != null" >
        PAGE_COUNT = #{record.pageCount,jdbcType=INTEGER},
      </if>
      <if test="record.accountId != null" >
        ACCOUNT_ID = #{record.accountId,jdbcType=VARCHAR},
      </if>
      <if test="record.contentType != null" >
        CONTENT_TYPE = #{record.contentType,jdbcType=VARCHAR},
      </if>
      <if test="record.usedFlag != null" >
        USED_FLAG = #{record.usedFlag,jdbcType=CHAR},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null" >
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pictureContent != null" >
        PICTURE_CONTENT = #{record.pictureContent,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByCriteriaWithBLOBs" parameterType="map" >
    update t_picture
    set PICTURE_ID = #{record.pictureId,jdbcType=BIGINT},
      OPEN_ID = #{record.openId,jdbcType=VARCHAR},
      COMPANY_ID = #{record.companyId,jdbcType=BIGINT},
      PICTURE_URL = #{record.pictureUrl,jdbcType=VARCHAR},
      MEDIA_ID = #{record.mediaId,jdbcType=VARCHAR},
      PAGE_COUNT = #{record.pageCount,jdbcType=INTEGER},
      ACCOUNT_ID = #{record.accountId,jdbcType=VARCHAR},
      CONTENT_TYPE = #{record.contentType,jdbcType=VARCHAR},
      USED_FLAG = #{record.usedFlag,jdbcType=CHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      PICTURE_CONTENT = #{record.pictureContent,jdbcType=LONGVARBINARY}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByCriteria" parameterType="map" >
    update t_picture
    set PICTURE_ID = #{record.pictureId,jdbcType=BIGINT},
      OPEN_ID = #{record.openId,jdbcType=VARCHAR},
      COMPANY_ID = #{record.companyId,jdbcType=BIGINT},
      PICTURE_URL = #{record.pictureUrl,jdbcType=VARCHAR},
      MEDIA_ID = #{record.mediaId,jdbcType=VARCHAR},
      PAGE_COUNT = #{record.pageCount,jdbcType=INTEGER},
      ACCOUNT_ID = #{record.accountId,jdbcType=VARCHAR},
      CONTENT_TYPE = #{record.contentType,jdbcType=VARCHAR},
      USED_FLAG = #{record.usedFlag,jdbcType=CHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hpe.ddc.framework.model.TPicture" >
    update t_picture
    <set >
      <if test="openId != null" >
        OPEN_ID = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        COMPANY_ID = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="pictureUrl != null" >
        PICTURE_URL = #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="mediaId != null" >
        MEDIA_ID = #{mediaId,jdbcType=VARCHAR},
      </if>
      <if test="pageCount != null" >
        PAGE_COUNT = #{pageCount,jdbcType=INTEGER},
      </if>
      <if test="accountId != null" >
        ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="contentType != null" >
        CONTENT_TYPE = #{contentType,jdbcType=VARCHAR},
      </if>
      <if test="usedFlag != null" >
        USED_FLAG = #{usedFlag,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="pictureContent != null" >
        PICTURE_CONTENT = #{pictureContent,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where PICTURE_ID = #{pictureId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hpe.ddc.framework.model.TPicture" >
    update t_picture
    set OPEN_ID = #{openId,jdbcType=VARCHAR},
      COMPANY_ID = #{companyId,jdbcType=BIGINT},
      PICTURE_URL = #{pictureUrl,jdbcType=VARCHAR},
      MEDIA_ID = #{mediaId,jdbcType=VARCHAR},
      PAGE_COUNT = #{pageCount,jdbcType=INTEGER},
      ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      CONTENT_TYPE = #{contentType,jdbcType=VARCHAR},
      USED_FLAG = #{usedFlag,jdbcType=CHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      PICTURE_CONTENT = #{pictureContent,jdbcType=LONGVARBINARY}
    where PICTURE_ID = #{pictureId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hpe.ddc.framework.model.TPicture" >
    update t_picture
    set OPEN_ID = #{openId,jdbcType=VARCHAR},
      COMPANY_ID = #{companyId,jdbcType=BIGINT},
      PICTURE_URL = #{pictureUrl,jdbcType=VARCHAR},
      MEDIA_ID = #{mediaId,jdbcType=VARCHAR},
      PAGE_COUNT = #{pageCount,jdbcType=INTEGER},
      ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      CONTENT_TYPE = #{contentType,jdbcType=VARCHAR},
      USED_FLAG = #{usedFlag,jdbcType=CHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
    where PICTURE_ID = #{pictureId,jdbcType=BIGINT}
  </update>
</mapper>