<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hpe.ddc.framework.dao.TWechatDAO" >
  <resultMap id="BaseResultMap" type="com.hpe.ddc.framework.model.TWechat" >
    <id column="ACCOUNT_ID" property="accountId" jdbcType="VARCHAR" />
    <result column="APPID" property="appid" jdbcType="VARCHAR" />
    <result column="APPSECRET" property="appsecret" jdbcType="VARCHAR" />
    <result column="ACCESS_TOKEN" property="accessToken" jdbcType="VARCHAR" />
    <result column="VALID_FLG" property="validFlg" jdbcType="BIT" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="MCH_ID" property="mchId" jdbcType="VARCHAR" />
    <result column="API_PAYMENT_KEY" property="apiPaymentKey" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ACCOUNT_ID, APPID, APPSECRET, ACCESS_TOKEN, VALID_FLG, CREATE_DATE, UPDATE_DATE, 
    MCH_ID, API_PAYMENT_KEY
  </sql>
  <select id="selectByCriteria" resultMap="BaseResultMap" parameterType="com.hpe.ddc.framework.model.TWechatCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_wechat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_wechat
    where ACCOUNT_ID = #{accountId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_wechat
    where ACCOUNT_ID = #{accountId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.hpe.ddc.framework.model.TWechatCriteria" >
    delete from t_wechat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hpe.ddc.framework.model.TWechat" >
    insert into t_wechat (ACCOUNT_ID, APPID, APPSECRET, 
      ACCESS_TOKEN, VALID_FLG, CREATE_DATE, 
      UPDATE_DATE, MCH_ID, API_PAYMENT_KEY
      )
    values (#{accountId,jdbcType=VARCHAR}, #{appid,jdbcType=VARCHAR}, #{appsecret,jdbcType=VARCHAR}, 
      #{accessToken,jdbcType=VARCHAR}, #{validFlg,jdbcType=BIT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{mchId,jdbcType=VARCHAR}, #{apiPaymentKey,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hpe.ddc.framework.model.TWechat" >
    insert into t_wechat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accountId != null" >
        ACCOUNT_ID,
      </if>
      <if test="appid != null" >
        APPID,
      </if>
      <if test="appsecret != null" >
        APPSECRET,
      </if>
      <if test="accessToken != null" >
        ACCESS_TOKEN,
      </if>
      <if test="validFlg != null" >
        VALID_FLG,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="mchId != null" >
        MCH_ID,
      </if>
      <if test="apiPaymentKey != null" >
        API_PAYMENT_KEY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accountId != null" >
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="appsecret != null" >
        #{appsecret,jdbcType=VARCHAR},
      </if>
      <if test="accessToken != null" >
        #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="validFlg != null" >
        #{validFlg,jdbcType=BIT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mchId != null" >
        #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="apiPaymentKey != null" >
        #{apiPaymentKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByCriteria" parameterType="com.hpe.ddc.framework.model.TWechatCriteria" resultType="java.lang.Integer" >
    select count(*) from t_wechat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByCriteriaSelective" parameterType="map" >
    update t_wechat
    <set >
      <if test="record.accountId != null" >
        ACCOUNT_ID = #{record.accountId,jdbcType=VARCHAR},
      </if>
      <if test="record.appid != null" >
        APPID = #{record.appid,jdbcType=VARCHAR},
      </if>
      <if test="record.appsecret != null" >
        APPSECRET = #{record.appsecret,jdbcType=VARCHAR},
      </if>
      <if test="record.accessToken != null" >
        ACCESS_TOKEN = #{record.accessToken,jdbcType=VARCHAR},
      </if>
      <if test="record.validFlg != null" >
        VALID_FLG = #{record.validFlg,jdbcType=BIT},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null" >
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mchId != null" >
        MCH_ID = #{record.mchId,jdbcType=VARCHAR},
      </if>
      <if test="record.apiPaymentKey != null" >
        API_PAYMENT_KEY = #{record.apiPaymentKey,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByCriteria" parameterType="map" >
    update t_wechat
    set ACCOUNT_ID = #{record.accountId,jdbcType=VARCHAR},
      APPID = #{record.appid,jdbcType=VARCHAR},
      APPSECRET = #{record.appsecret,jdbcType=VARCHAR},
      ACCESS_TOKEN = #{record.accessToken,jdbcType=VARCHAR},
      VALID_FLG = #{record.validFlg,jdbcType=BIT},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      MCH_ID = #{record.mchId,jdbcType=VARCHAR},
      API_PAYMENT_KEY = #{record.apiPaymentKey,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hpe.ddc.framework.model.TWechat" >
    update t_wechat
    <set >
      <if test="appid != null" >
        APPID = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="appsecret != null" >
        APPSECRET = #{appsecret,jdbcType=VARCHAR},
      </if>
      <if test="accessToken != null" >
        ACCESS_TOKEN = #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="validFlg != null" >
        VALID_FLG = #{validFlg,jdbcType=BIT},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mchId != null" >
        MCH_ID = #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="apiPaymentKey != null" >
        API_PAYMENT_KEY = #{apiPaymentKey,jdbcType=VARCHAR},
      </if>
    </set>
    where ACCOUNT_ID = #{accountId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hpe.ddc.framework.model.TWechat" >
    update t_wechat
    set APPID = #{appid,jdbcType=VARCHAR},
      APPSECRET = #{appsecret,jdbcType=VARCHAR},
      ACCESS_TOKEN = #{accessToken,jdbcType=VARCHAR},
      VALID_FLG = #{validFlg,jdbcType=BIT},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      MCH_ID = #{mchId,jdbcType=VARCHAR},
      API_PAYMENT_KEY = #{apiPaymentKey,jdbcType=VARCHAR}
    where ACCOUNT_ID = #{accountId,jdbcType=VARCHAR}
  </update>
</mapper>